@font-face {
  font-family: 'Heebo';
  src: local('Heebo Light'), local('Heebo-Light'),
    url('Heebo-Light.woff') format('woff');   
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: local('Heebo Bold'), local('Heebo-Bold'),
    url('Heebo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}