.footer {
  background-color: #1d1d1d;
  border-top: 5px solid #cdcdcd;
  padding: 16px 0;
}

.footer__top {
  margin-bottom: 40px;
}

.footer__title {
  color: #999;
  font-family: $font-family-decor;
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  @include media-breakpoint-down(sm) {
    font-size: 25px;
  }
}

.foooter__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.foooter__bottom-leftside {
  margin-bottom: 10px;
}
