.header-nav {
  background-color: $theme-color;
  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-right: 12px;
    &::last-child {
        margin-right: 0;
    }
  }
  @include media-breakpoint-down(sm) {
      display: none;
  }
}